{% extends '::base.html.twig' %}

{% block body %}
Week : {{ week }}
<div id="content">
    <table id="calendar" class="table table-striped">
        <thead>
            <tr>
                <td class="week_calendar_header calendar_users">
                    Users
                </td>
                {% for i in first_day..6 %}
                    {{include("ProjectManagerScheduleBundle:Schedule:_calendar_column_header.html.twig",
                        {'first_day': first_day_on_calendar, 'day': i, 'first_weekday': first_day, 'diff': 0})}}
                {% endfor %}
                {% for i in 0..(first_day-1) %}
                    {{include("ProjectManagerScheduleBundle:Schedule:_calendar_column_header.html.twig",
                        {'first_day': first_day_on_calendar, 'day': i, 'first_weekday': first_day, 'diff': 7})}}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="user_row" id="user_row_{{ user.id }}">
                <td>{{ user.firstName }} {{ user.lastName }}
                    <div id="user_{{ user.id }}_tasks" class="user_tasks">
                        {% for task in user.assignedTasks %}
                            {"id":"{{ task.id }}","name":"{{ task.name }}",
                            "start":"{{ task.startDate|date("ymd") }}","end":"{{ task.endDate|date("ymd") }}",
                            "link":"{{ path('pm_project_task_edit', {'taskId': task.id}) }}"}
                        {% endfor %}
                    </div>
                </td>
                {% for i in first_day..6 %}
                    <td class="day_{{ i }}">
                    </td>
                {% endfor %}
                {% for i in 0..(first_day-1) %}
                    <td class="day_{{ i }}">
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

