{% extends '::base.html.twig' %}


{% block stylesheets %}
	{% stylesheets 'bundles/projectmanagerschedule/css/*' output="css/compiled/calendar.css" filter="cssrewrite" %}
	    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block body %}
Week : {{ week }}
<div id="content">
    <table id="calendar" class="table table-striped">
        <thead>
            <tr>
                <td class="week_calendar_header calendar_users">
                    Users
                </td>
                {% for i in first_day..6 %}
                    <td class="week_calendar_header day_{{ i }}">
                        {{ ('days.'~i)|trans }}
                        {{ day|date_modify("+ " ~ (i-first_day) ~  " day")|date("d/m/y") }}
                    </td>
                {% endfor %}
                {% for i in 0..(first_day-1) %}
                    <td class="week_calendar_header day_{{ i }}">
                        {{ ('days.'~i)|trans }}
                        {{ day|date_modify("+ " ~ (i-first_day+7) ~  " day")|date("d/m/y") }}
                    </td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="user_row">
                <td>{{ user.firstName }} {{ user.lastName }}
                    <div>
                        {% for task in user.assignedTasks %}
                            {{ task.name }}
                        {% endfor %}
                    </div>
                </td>
                {% for i in first_day..6 %}
                    <td class="week_calendar_header day_{{ i }}">
                    </td>
                {% endfor %}
                {% for i in 0..(first_day-1) %}
                    <td class="week_calendar_header day_{{ i }}">
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
