{% extends '::base.html.twig' %}


{% block stylesheets %}
	{% stylesheets 'bundles/projectmanagerschedule/css/*' output="assets/css/calendar.css" filter="cssrewrite" %}
	    <link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block body %}
Week : {{ week }}
<div id="content">
    <table id="calendar" class="table table-striped">
        <thead>
            <tr>
                <td class="week_calendar_header calendar_users">
                    Users
                </td>
                {% for i in first_day..6 %}
                    {% set columnDate=day|date_modify("+ " ~ (i-first_day) ~  " day") %}
                    <td class="week_calendar_header day_{{ i }}" id="column{{ columnDate|date("ymd") }}">
                        {{ ('days.'~i)|trans }}
                        {{ columnDate|date("d/m/y") }}
                    </td>
                {% endfor %}
                {% for i in 0..(first_day-1) %}
                {% set columnDate=day|date_modify("+ " ~ (i-first_day+7) ~  " day") %}
                    <td class="week_calendar_header day_{{ i }}" id="column{{ columnDate|date("ymd") }}">
                        {{ ('days.'~i)|trans }}
                        {{ columnDate|date("d/m/y") }}
                    </td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="user_row" id="user_row_{{ user.id }}">
                <td>{{ user.firstName }} {{ user.lastName }}
                    <div id="user_{{ user.id }}_tasks" class="user_tasks">
                        {% for task in user.assignedTasks %}
                             {"id":"{{ task.id }}","name":"{{ task.name }}","start":"{{ task.startDate|date("ymd") }}","end":"{{ task.endDate|date("ymd") }}"}
                        {% endfor %}
                    </div>
                </td>
                {% for i in first_day..6 %}
                    <td class="week_calendar_header day_{{ i }}">
                    </td>
                {% endfor %}
                {% for i in 0..(first_day-1) %}
                    <td class="week_calendar_header day_{{ i }}">
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@ProjectManagerScheduleBundle/Resources/public/js/*'
    output='assets/js/calendar.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
