{% extends '::base.html.twig' %}

{% block body %}
Week : {{ week }}
<div id="content">
    <table id="calendar" class="table table-striped">
        <thead>
            <tr>
                <td class="week_calendar_header calendar_users">
                    Users
                </td>
                {% for day in week_info.week_days %}
                    <td class="week_calendar_header day_{{ day['day_number'] }} {{ day['day_number'] in non_working_days ? "non_" : "" }}working_day"
                        id="column{{ day['date']|date("ymd") }}">
                        {{ ('days.'~day['day_number'])|trans }}
                        {{ day['date']|date("d/m/y") }}
                    </td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="user_row" id="user_row_{{ user.id }}">
                <td>{{ user.firstName }} {{ user.lastName }}
                    <div id="user_{{ user.id }}_tasks" class="user_tasks">
                        {% for task in user.assignedTasks %}
                            {"id":"{{ task.id }}","name":"{{ task.name }}",
                            "start":"{{ task.startDate|date("ymd") }}","end":"{{ task.endDate|date("ymd") }}",
                            "link":"{{ path('pm_project_task_edit', {'taskId': task.id}) }}"}
                        {% endfor %}
                    </div>
                </td>
                {% for day in week_info.week_days %}
                <td class="day_{{ day['day_number'] }} {{ day['day_number'] in non_working_days ? "non_" : "" }}working_day">
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
