{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Team list</h1>

    <table class="records_list table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team in entities %}
            <tr name="team_{{ team.id }}">
                <td><a href="{{ path('pm_user_team_edit', { 'id': team.id }) }}">{{ team.id }}</a></td>
                <td>{{ team.name }}</td>
                <td>
                <ul>
                    {% set path = path('pm_user_team_edit', {'id': team.id}) %}
                    {{ include('ProjectManagerCoreBundle:Buttons:editButton.html.twig', { 'object_url': path }) }}
                    {% form_theme delete_forms[team.id] ':Forms:fields.html.twig' %}
                    {{ form(delete_forms[team.id]) }}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% set path = path('pm_user_team_add') %}
    {{ include('ProjectManagerCoreBundle:Buttons:newButton.html.twig',
    { 'object_url': path, 'object_name': 'team' }) }}
    {% endblock %}
