{% extends '::base.html.twig' %}

{% block body %}
	<h1>{{ 'user.list'|trans }}</h1>

	<table class="records_list table table-striped">
        <thead>
            <tr>
                <th>{{ 'user.id'|trans }}</th>
                <th>{{ 'user.firstName'|trans }}</th>
                <th>{{ 'user.lastName'|trans }}</th>
                <th>{{ 'user.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
		{% for user in persons %}
        	<tr name="user_{{ user.id }}">
                <td>
	    			{{ user.id }} 
	    		</td>
	    		<td>
	    			{{ user.firstName }}
	    		</td>
	    		<td>
	    			{{ user.lastName }}
	    		</td>
	    		<td>
                    {% set path = path('pm_user_user_edit', {'id': user.id}) %}
                    {{ include('ProjectManagerCoreBundle:Buttons:editButton.html.twig', { 'object_url': path }) }}
                    {% form_theme delete_forms[user.id] ':Forms:fields.html.twig' %}
                    {{ form(delete_forms[user.id]) }}
                </td>
	    	</tr>
		{% endfor %}
		</tbody>
    </table>
    {% set path = path('pm_user_user_add') %}
    {{ include('ProjectManagerCoreBundle:Buttons:newButton.html.twig',
        { 'object_url': path, 'object_name': 'user' }) }}


{% endblock body %}
