<h2>Team members</h2>

<table class="records_list table table-striped members_team" name="members_team_{{ team_id }}">
	<thead>
		<tr>
			<th>User</th>
			<th>Role</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
        {% for user in users %}
        <tr id="team_member_user_{{ user.id }}">
            <td class="users_column user{{ user.id }}">
                {{ user.firstName }} {{ user.lastName }}
            </td>
            <td class="roles_column user{{ user.id }}" id ="roles_column_user_{{ user.id }}">
                <div id="roles_selector_{{ user.id }}"></div>
                {% for teammember in user.team %}
                <span  id="roles_column_{{ user.id }}_{{ teammember.role.id }}">{{ teammember.role.name }}</span>
                {% endfor %}
            </td>
            <td>
                {{ include('ProjectManagerCoreBundle:Buttons:editButton.html.twig',
                    { 'btn_id': "update_member"~ user.id, 'btn_classes' : "update_members" })
                }}
                {% form_theme delete_forms[user.id] ':Forms:fields.html.twig' %}
                {{ form(delete_forms[user.id]) }}
            </td>
        </tr>
        {% endfor %}
	</tbody>
</table>

<div id="roles" hidden>
{% for role in roles %}
    <role id="{{ role.id }}">{{ role.name }}</role>
{% endfor %}
</div>
<div class="modal fade" id="deleteModal"></div>
