<h2>Team members</h2>
<table class="records_list table table-striped">
	<thead>
		<tr>
			<th>User</th>
			<th>Role</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
        {% for user in users %}
        <tr>
            <td rowspan="{{ user.team|length }}">{{ user.firstName }} {{ user.lastName }}</td>
            {% for teammember in user.team %}
                {# This beautiful if is here to manage the rowspan #}
                {% if loop.index > 1 %}
                </tr><tr>
                {% endif %}
            <td>{{ teammember.role.name }}</td>
            <td>{{ form(delete_forms[teammember.id]) }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
	</tbody>
</table>
<div class="modal fade" id="deleteModal"></div>
