{% extends 'form_div_layout.html.twig' %}


{% block glyphicon_button_widget -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        <span class="glyphicon {{ glyphicon }}" aria-hidden="true"></span>
        {{ label|trans({}, translation_domain) }}</button>
{%- endblock glyphicon_button_widget %}

{% block _delete_object_submit_widget -%}
    {% set type = type|default('submit') %}
    {% set glyphicon = 'glyphicon-remove' %}
    {{- block('glyphicon_button_widget') -}}
{%- endblock _delete_object_submit_widget %}
