{% extends '::base.html.twig' %}

{% block body %}
	<h1>Role list</h1>

	<table class="records_list table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
		{% for role in roles %}
        	<tr name="role_{{ role.id }}">
                <td>
	    			{{ role.id }}
	    		</td>
	    		<td>
	    			{{ role.name }}
	    		</td>
	    		<td>
                    {% set path = path('pm_user_role_edit', {'id': role.id}) %}
                    {{ include('ProjectManagerCoreBundle:Buttons:editButton.html.twig', { 'object_url': path }) }}
                    {% form_theme delete_forms[role.id] ':Forms:fields.html.twig' %}
                    {{ form(delete_forms[role.id]) }}
	    		</td>
	    	</tr>
		{% endfor %}
		</tbody>
    </table>
    {% set path = path('pm_user_role_add') %}
    {{ include('ProjectManagerCoreBundle:Buttons:newButton.html.twig',
    { 'object_url': path, 'object_name': 'role' }) }}
{% endblock body %}
