{% extends '::base.html.twig' %}

{% block body %}
	<h1>Role list</h1>

	<table class="records_list table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
		{% for role in roles %}
        	<tr name="user_{{ role.id }}">
                <td>
	    			{{ role.id }}
	    		</td>
	    		<td>
	    			{{ role.name }}
	    		</td>
	    		<td>
	    			<a class="btn btn-primary" href="{{ path('pm_user_role_update', { 'id' : role.id }) }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Update</a>
	    			<a class="btn btn-primary" href="{{ path('pm_user_role_delete', { 'id' : role.id }) }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</a>
	    		</td>
	    	</tr>
		{% endfor %}
		</tbody>
    </table>

  		<a class="btn btn-primary" href=" {{ path('pm_user_role_add') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create a new role</a>

{% endblock body %}
